Automated Agent WorkFlow.json
{
  "name": "Automated Agent WorkFlow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "56d7d5b9-f0d3-4568-8d36-a696e6dd6eba",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "QcKqlbGBUdPZxIJl",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1568d884-0271-4e6a-9b97-1bfb73b0fd5c",
              "leftValue": "From",
              "rightValue": "no-reply",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "180993bb-5cec-464d-ac53-9090676adea1",
              "leftValue": "From",
              "rightValue": "no-reply",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b1a23326-64ce-4545-9eb8-a394ede2ebda",
              "leftValue": "Subject",
              "rightValue": "unsubscribe",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7506ebd6-70bb-4974-82bc-c8b9606367d7",
              "leftValue": "Subject",
              "rightValue": "newsletter",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9704166f-75b6-4044-a9ad-949b60af697c",
              "leftValue": "Snippet",
              "rightValue": "unsubscribe",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "7550b624-b2d7-4037-b9af-ba162bb8248b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$json[\"id\"]}}",
        "labelIds": "={{ [\"Junk\"] }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        464,
        -96
      ],
      "id": "bbb5a72e-6b59-4b1d-9d2f-478601e64e86",
      "name": "Add label to message",
      "webhookId": "7f50c876-36ef-4cef-9022-60cd50cb67c1",
      "credentials": {
        "gmailOAuth2": {
          "id": "QcKqlbGBUdPZxIJl",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an AI email triage agent.\n\nAnalyze the email below and return ONLY valid JSON.\nDo not include explanations or markdown.\n\nEmail:\nFrom: {{$json[\"from\"]}}\nSubject: {{$json[\"subject\"]}}\nBody:\n{{$json[\"textPlain\"] || $json[\"snippet\"]}}\nReturn JSON with this exact schema:\n\n{\n  \"category\": \"Reply | Meeting | Task | FYI | Spam\",\n  \"urgency\": 1,\n  \"summary\": [\n    \"bullet 1\",\n    \"bullet 2\",\n    \"bullet 3\"\n  ],\n  \"suggested_reply\": \"\",\n  \"task\": {\n    \"title\": \"\",\n    \"due_date\": \"\"\n  },\n  \"meeting\": {\n    \"title\": \"\",\n    \"duration_minutes\": 30,\n    \"timezone\": \"Asia/Beirut\",\n    \"options\": [\n        { \"start_iso\": \"2025-12-18T11:00:00+02:00\", \"end_iso\": \"2025-12-18T11:30:00+02:00\" },\n        { \"start_iso\": \"2025-12-19T14:00:00+02:00\", \"end_iso\": \"2025-12-19T14:30:00+02:00\" }\n  ]\n}}\n\nRules:\n- options length = 2 or 3\n- end_iso must be start_iso + duration_minutes\n- start_iso must be within the next 5 business days\n- Return ONLY valid JSON."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        448,
        112
      ],
      "id": "ca6f2b9f-d3e8-4d7f-ace4-dfdde2dbcd1d",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "copvhUbWLQlvjRHQ",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"category\"]}}",
                    "rightValue": "Reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5bdd88a-ed7e-4139-94e0-8cdc596e5c5b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b61a49e5-fa4b-428d-b468-82013cf00c2d",
                    "leftValue": "={{$json[\"category\"]}}",
                    "rightValue": "Meeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e3bab23a-3f16-48f7-b50c-02aa607842a6",
                    "leftValue": "={{$json[\"category\"]}}",
                    "rightValue": "Task",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5aac7208-2fd2-408f-b9f5-b7c3afd5e810",
                    "leftValue": "={{$json[\"category\"]}}",
                    "rightValue": "FYI",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a48c8d5f-e224-4445-b19d-819ea8dac8f9",
                    "leftValue": "={{$json[\"category\"]}}",
                    "rightValue": "Spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        800,
        112
      ],
      "id": "a9f19b52-c426-4956-887c-68b93d3a2a69",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{$node[\"Gmail Trigger\"].json[\"subject\"]}}",
        "message": "={{$json[\"suggested_reply\"]}}",
        "options": {
          "replyTo": "={{$node[\"Gmail Trigger\"].json[\"from\"]}}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1200,
        -176
      ],
      "id": "353f9de5-07f8-4a0e-88b7-da77ca3f0425",
      "name": "Create a draft",
      "webhookId": "9a15f133-05bf-47ed-9012-4cbd6c933ffa",
      "credentials": {
        "gmailOAuth2": {
          "id": "QcKqlbGBUdPZxIJl",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "task": "MTMzNDQ3MjcxMTAzODQ2MjY0NzM6MDow",
        "title": "={{$json[\"task\"][\"title\"]}}",
        "additionalFields": {
          "dueDate": "={{$json[\"task\"][\"due_date\"]}}",
          "notes": "={{ $json[\"summary\"].join(\"\\n\") }}"
        }
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        1200,
        -32
      ],
      "id": "2d51a139-db90-401f-8168-d0000dd50bde",
      "name": "Create a task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "Y7AQ2pXPL8CJjHt3",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{$node[\"Gmail Trigger\"].json[\"id\"]}}",
        "labelIds": "={{ [INBOX] }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1200,
        400
      ],
      "id": "f17b3200-1d6d-465f-88b2-fbacf3506b06",
      "name": "Remove label from message",
      "webhookId": "07bed52e-0f52-481e-b122-f2e0a7038d3a",
      "credentials": {
        "gmailOAuth2": {
          "id": "QcKqlbGBUdPZxIJl",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$node[\"Gmail Trigger\"].json[\"id\"]}}",
        "labelIds": "={{ [\"AI\"], [\"SPAMISH\"] }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1200,
        560
      ],
      "id": "ae124975-f5ae-4498-a45f-c3db4bb8363d",
      "name": "Add label to message - SPAMISH",
      "webhookId": "cdf1d9a8-c799-4669-a881-db90751af0ab",
      "credentials": {
        "gmailOAuth2": {
          "id": "QcKqlbGBUdPZxIJl",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$node[\"Gmail Trigger\"].json[\"id\"]}}",
        "labelIds": "={{ [\"AI\"], [\"FYI\"] }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1200,
        240
      ],
      "id": "af42a296-2ca8-476f-a0e1-49eb09fc475c",
      "name": "Add label to message - FYI",
      "webhookId": "cdf1d9a8-c799-4669-a881-db90751af0ab",
      "credentials": {
        "gmailOAuth2": {
          "id": "QcKqlbGBUdPZxIJl",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "elioishak32@gmail.com",
          "mode": "list",
          "cachedResultName": "elioishak32@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{$json[\"start_iso\"]}}",
        "timeMax": "={{$json[\"end_iso\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1632,
        288
      ],
      "id": "44a4cf4b-44fd-44b0-b563-3e7a9d42de7e",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "oFMf6UYr7xY3WShZ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{$json[\"meeting\"][\"options\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        112
      ],
      "id": "73f3bffe-775f-45fa-a004-cde9e4a384b1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1456,
        112
      ],
      "id": "5c98da87-e20e-4c4a-9956-986de6df2bde",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b3801fc3-b66e-4d91-9358-60dca5a1d97b",
              "leftValue": "=",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1824,
        288
      ],
      "id": "6a558d76-21db-4afc-99b7-c79df9d54bce",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"valid_start\": {{$json[\"start_iso\"]}},\n  \"valid_end\": {{$json[\"end_iso\"]}},\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        288
      ],
      "id": "115401fe-3668-4319-890d-799a6e4d5959",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "elioishak32@gmail.com",
          "mode": "list",
          "cachedResultName": "elioishak32@gmail.com"
        },
        "start": "={{$json[\"valid_start\"]}}",
        "end": "={{$json[\"valid_end\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2256,
        288
      ],
      "id": "f4cbe821-9dde-48ec-9380-82c4560420bc",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "oFMf6UYr7xY3WShZ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{$node[\"Gmail Trigger\"].json[\"subject\"]}}",
        "message": "=Thanks for reaching out.\n\nI checked the proposed time options, but unfortunately I’m not available during those slots.\n\nIf possible, could you please suggest a few alternative times, or let me know your availability over the next few days?\n\nLooking forward to your reply.",
        "options": {
          "replyTo": "={{$node[\"Gmail Trigger\"].json[\"from\"]}}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2256,
        96
      ],
      "id": "be84cd0d-f4eb-4e8d-8b5c-83def5c76e71",
      "name": "Meeting confilct draft",
      "webhookId": "d7433940-16d5-4941-a1b9-22b87b9236ed",
      "credentials": {
        "gmailOAuth2": {
          "id": "QcKqlbGBUdPZxIJl",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19b2dcde8841480a",
          "threadId": "19b2dcbad6b58785",
          "snippet": "This is a reminder that you need to confirm your course registration before the end of the week.",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 799,
          "historyId": "2002",
          "internalDate": "1766000027000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "Subject": "InboxPilot Testing (1)",
          "From": "Elio <elioishak32@gmail.com>",
          "To": "Elio <elioishak32@gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add label to message - FYI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add label to message - SPAMISH",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add label to message - FYI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove label from message": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Meeting confilct draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c56b2f0-5beb-465d-9e4c-01ba3c2271b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7bbbf46b0ca8e99bd24536151788aa03d3823fa3c229a70c7f79cba1c300c0a3"
  },
  "id": "Qjr0TVT8Cw9l0nUn",
  "tags": []
}